<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{ title or 'IFRO_REQUEST' }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="topbar">
    <div class="brand">IFRO_REQUEST</div>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
    <small>© IFRO · Demo</small>
  </footer>
</body>
</html>
